@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Raleway&family=Roboto&family=Grifter&family=NeueMachina:wght@400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

:root {
    --body-color: #f7f3e7;
    --background-color: #423021;
    --primary-color: #795548;
    --secondary-color: #d7ccc8;
    --hover-color: #888;
    --text-color: #0f1212;
    --text-secondary-color: #ddd;
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Grifter', sans-serif;
    --font-paragraph: 'NeueMachina', sans-serif;
    --transition-speed: 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body {
    font-family: var(--font-primary);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.5;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}



/* Header */
.container__header{
    background-color: var(--background-color);
    padding: 20px 0;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__logo img {
    max-height: 125px;
}

.header__menu--links {
    display: flex;
    gap: 20px;
}

.header__menu--links a{
    color: var(--text-secondary-color);
    font-weight: 600;
    transition: var(--transition-speed);
}

.header__menu--links a:hover{
    color: var(--text-secondary-color);
}

.header__menu--input {
    display: flex;
    align-items: center;
}

.header__menu--input input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 250px;
    margin-right: 10px;
}

.searchIcon {
    width: 20px;
    height: 20px;
}

.header__user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Banner */
 
.banner__img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}

/* === MAIN === */
.container__main {
    max-width: 1200px;
    padding: 20px 15px;
    margin: 0 auto;
}

/* Sessão de Titulos */
.title__wrapper {
    margin-bottom: 30px;
    text-align: center;
}

.category__title--h3 {
    font-size: 24px; 
    color: var(--text-color);
    margin-bottom: 10px;
}

.title__p {
    font-size: 18px;
    color: var(--text-color);
}

/* Sessão de Sugestões */
.splide {
    position: relative;
    width: 100%;
}

.splide__track {
    overflow: hidden;
}

.splide__list {
    display: flex;
    gap: 20px;
}

.splide__slide {
    flex: 1 0 auto;
}

.splide__arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.splide__arrow {
    background-color: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    color: var(--text-color);
    font-size: 2.5em;
    padding: 15px;
    cursor: pointer;
    background: none;
    transition: background-color 0.3s, transform 0.3s;
}

.splide__arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.category__filmes .splide__slide{
    flex: 0 0 300px;
}

.stream__item--wrap{
    position: relative;
}

.stream__mov--poster img {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.stream__mov--poster img:hover{
    transform: scale(1.05);
}

.streaming__badge--wrap {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.streaming__badge {
    width: 50px;
    height: 50px;
}

.stream__title{
    margin-top: 10px;
    text-align: center;
}

.stream__title a{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}

.stream__title p{
    color: var(--text-color);
    font-size: 16px;
}

/* Destaques Section */
.stream__details {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.stream__details__item {
    position: relative;
    width: 300px;
}

.stream__details__image {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.stream__details__gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    border-radius: 0 0 10px 10px;
}

.stream__details__bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--text-color);
}

.title__bottom {
    font-size: 18px;
    font-weight: 600;
}

.stream__details__info {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.space{
    width: 5px;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 50%;
}

/* Critica */

.container__reviews{
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin-bottom: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.grid-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item .stream__mov--poster {
    width: 100%;
    max-width: 150px;
}

.grid-item .stream__mov--poster img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.grid-item .streaming__badge--wrap {
    position: relative;
    width: 2em;
}

.grid-item .streaming__badge{
    width: 2em;
    height: auto;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.grid-item .stream__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-item .stream__title a {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    color: #0f1212;
    text-decoration: none;
}

.grid-item .stream__title p {
    font-size: 0.9em;
    color: #555;
    line-height: 1.5;
}

/* Footer */

.container__footer{
    background-color: var(--background-color);
    padding: 20px;
    color: var(--text-secondary-color);
    text-align: center;
}

.footer__wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__info p{
    margin-bottom: 10px;
    font-size: 14px;
}

.footer__social {
    display: flex;
    gap: 15px;
}

.footer__social a {
    color: var(--text-color);
    font-size: 18px;
}

.footer__social a:hover{
    color: var(--primary-color);
    transition: var(--transition-speed);
}
